.container {
  width: 100%;
  min-height: 100vh;
  background-color: #0f102b;
  display: flex;
  align-items: center;
  justify-content: center;
  &__movies {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
  }
}
