.navbar {
  width: 100%;
  height: 65px;
  background: #2b1e7e;
  padding: 15px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150000000000000000;
  &__logo {
    h1 {
      font-family: "Indie Flower", cursive;
      font-size: 40px;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 35px;
      li {
        font-size: 20px;
        cursor: pointer;
        transition: 0.2s linear;
        &:hover {
          font-weight: bold;
          text-decoration: underline;
          text-underline-offset: 10px;
        }
      }
    }
    input {
      width: 250px;
      height: 45px;
      padding: 0 15px;
      border-radius: 10px;
      outline: none;
      border: 1px solid white;
      background: none;
      color: white;
      font-size: 16px;
      &::placeholder {
        color: white;
      }
      &:focus {
        box-shadow: 0 0 15px #fff;
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    height: 75px;
    padding: 20px;
    &__logo {
      h1 {
        font-size: 22px;
      }
    }
    &__right {
      flex-direction: row-reverse;
      ul {
        gap: 0;
        li {
          font-size: 17px;
        }
      }
      input {
        width: 200px;
        margin-left: 7px;
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .navbar {
    height: 75px;

    padding: 20px;
    &__logo {
      h1 {
        font-size: 22px;
      }
    }
    &__right {
      flex-direction: row-reverse;
      ul {
        gap: 0;
        li {
          font-size: 17px;
        }
      }
      input {
        width: 200px;
        margin-left: 7px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .navbar {
    height: 75px;

    padding: 20px;
    &__logo {
      h1 {
        font-size: 35px;
      }
    }
    &__right {
      flex-direction: row-reverse;
      ul {
        gap: 0;
        li {
          font-size: 17px;
        }
      }
      input {
        width: 250px;
        margin-left: 7px;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    padding: 15px 80px;
  }
}
@media (min-width: 1200px) {
}
